@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/* base ***********************************************************************/
html,
body {
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.538;
  min-height: 100%;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout *********************************************************************/
.layout {
  background: #E6E6E6;
  bottom: 0;
  left: 0;
  min-width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.layout-header {
  background: #FFC107;
  border-bottom: 2px solid #000;
  bottom: 0;
  height: 78px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.layout-content {
  bottom: 81px;
  left: 0;
  position: absolute;
  right: 0;
  top: 78px;
  z-index: 100;
}

.layout-content--withBanner {
  bottom: 147px;
}

.layout-content--withSecondaryBanner {
  bottom: 240px;
}

.layout-content--detail {
  background: #FFF;
  overflow-y: auto;
}

.layout-footer {
  background: #FFC107;
  border-top: 2px solid #000;
  bottom: 0;
  height: 81px;
  left: 0;
  position: absolute;
  right: 0;
}

.layout-banner {
  border-top: 2px solid rgb(0, 0, 0);
  bottom: -159px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 110;
}

.layout-banner--secondary {
  bottom: -66px;
}

.layout-banner--thirdary {
  bottom: -92px;
}

/* mainHeader *****************************************************************/
.mainHeader {
  text-align: center;
}

.mainHeader-title {
  display: none;
}

.mainHeader-logo {
  max-height: 60px;
  margin-top: 11px;
}

/* banner *********************************************************************/
.banner {
  background: #FFF;
  height: 90px;
  padding: 20px 20px 0 20px;
}

.banner--secondary {
  height: 65px;
  padding-top: 13px;
}

.banner-title {
  font-weight: bold;
}

.banner-description {
}

.banner-img {
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  max-height: 50px;
  max-width: 100px;
}

@media screen and (max-width: 600px) {
  .banner {
    font-size: 12px;
  }
}

/* icon ***********************************************************************/

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?z17oha");
  src: url("/fonts/icomoon.eot?z17oha#iefix") format("embedded-opentype"),
       url("/fonts/icomoon.ttf?z17oha") format("truetype"),
       url("/fonts/icomoon.woff?z17oha") format("woff"),
       url("/fonts/icomoon.svg?z17oha#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: "icomoon";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
      -o-user-select: none;
         user-select: none;
}

.icon--info:before {
  content: "\e903";
}
.icon--noticias:before {
  content: "\e900";
}
.icon--eventos:before {
  content: "\e901";
}
.icon--mapa:before {
  content: "\e902";
}
.icon--cerveza:before {
  content: "\e904";
}

/* nav ************************************************************************/
.nav {
  padding-top: 20px;
  text-align: center;
}

.nav-item {
  cursor: pointer;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
}

.nav-item.is-active,
.nav-item:hover {
  color: #FFF;
}

.nav-itemIcon {
  display: block;
  font-size: 48px;
  margin: -26px auto -16px auto;
}

@media screen and (max-width: 600px) {
  .nav-item {
    font-size: 13px;
    margin: 0 8px;
  }

  .nav-itemIcon {
    font-size: 33px;
    margin: -16px auto -10px auto;
  }
}

/* about **********************************************************************/
.about {
  max-height: 100%;
  overflow-y: auto;
  padding: 40px;
}

.about-title {
  border-bottom: 1px solid #353535;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.6em;
  padding: 10px 0;
  text-align: center;
}

.about-title--secondary {
  border: none;
  font-size: 20px;
  text-align: left;
}

.about-description {
  margin-bottom: 1.5em;
}

/* link ***********************************************************************/
.link {
  font-weight: bold;
}

.link:hover {
  color: #666;
}

/* filters ********************************************************************/
.filters {
  text-align: center;
}

.filters-item {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  margin: 0 9px;
  padding: 8px 18px;
  position: relative;
  text-decoration: none;
  top: -2px;
}

.filters-item:hover,
.filters-item.is-active,
.filters-item:active {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .filters-item {
    font-size: 12px;
    margin: 2px 3px;
  }
}

/* list ***********************************************************************/
.list {
  border-top: 1px solid rgb(185, 185, 185);
  max-height: 100%;
  overflow: auto;
  width: 100%;
}

.list-item {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(185, 185, 185);
  display: block;
  padding: 5px 10px;
}

.list-item--title {
  background: rgb(230, 230, 230);
  text-transform: uppercase;
}

.list-item--link {
  cursor: pointer;
  text-decoration: none;
}

.list-itemTitle {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.list-itemDescription {
  font-size: 12px;
}

/* header *********************************************************************/
.header {
  margin: 20px;
}

.header-title {
  font-size: 30px;
  text-transform: uppercase;
}

/* details ********************************************************************/
.details {
  margin: 20px;
  overflow: auto;
}

.details-item {
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
  width: 33.33%;
}

.details-title {
  color: #FFC107;
  display: block;
  font-size: 12px;
}
